/* 基本的なスタイル */

.page-content {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  position: relative;

  h1 {
    margin: 30px 0 20px;
    font-size: 32px;
    line-height: 35px;
  }
  h2 {
    margin: 21px 0 14px;
    font-size: 28px;
    line-height: 31px;
  }
  h3 {
    margin: 18px 0 12px;
    font-size: 24px;
    line-height: 27px;
  }
}

.mdl-navigation__link {
  font-size: 16px;
}

.mdl-list__item-avatar.material-icons {
  padding: 2px;
  color: #757575;
  background-color: transparent;
  font-size: 36px;
  &[data-type="cloud"] {
    padding: 5px;
    font-size: 30px;
  }
}

.mdl-list__item {
  .mdl-list__item-secondary-content {
    align-items: center;
  }
}

.qiita-card {
  .mdl-card__title {
    align-items: flex-start;
    flex-direction: column;
    h4 {
      margin-top: 0;
    }
  }
  .qiita-card__sub-info {
    width: 100%;
    img {
      width: 40px;
      height: 40px;
    }
  }
  .qiita-card__tags {
    padding: 16px;
    .mdl-chip {
      margin-right: 8px;
    }
  }
}